.App {
  text-align: center;
}

.header{

  height: 5rem;
  border : 1px black solid;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  padding-right: 1rem;
  padding-left: 1rem;
}

.title{

  font-weight: bold;
  font-size: 2rem;
  align-content: center;
  width: fit-content;
}

.leftMenu{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}